<h1>Welcome to Code Rank</h1>

<p>
    The place to rank open source software.
</p>
<p>
    Follow the progress here on <a href="https://github.com/gianniacquisto/code-rank">GitHub</a>.
</p>

<h2>List of Open Source projects:</h2>
<p>Below you can find the name, category and GitHub link to the project.</p>

<div id="projects">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><a href="<%= project.url %>"><%= project.url %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
