<h1>Welcome to Code Rank</h1>

<p>
    The place to rank open source software.
</p>
<p>
    Follow the progress here on <a href="https://github.com/gianniacquisto/code-rank">GitHub</a>.
</p>
<div id="projects">
    <% @projects.each do |project| %>
        <div>
            <%= project.name %>
        </div>
        <%end%>
</div>
