<h1>Welcome to Code Rank</h1>

<p>
    The place to rank open source software.
</p>
<p>
    Follow the progress here on <a href="https://github.com/gianniacquisto/code-rank">GitHub</a>.
</p>

<h2>List of Open Source projects:</h2>
<div id="projects">
    <% @projects.each do |project| %>
        <div>
            <%= project.name %>: <a href=<%= project.url %>>GitHub</a> 
        </div>
    <%end%>
</div>
