<h1>Welcome to Code Rank</h1>

<p>
    The place to rank open source software.
</p>
<p>
    Follow the progress here on <a href="https://github.com/gianniacquisto/code-rank">GitHub</a>.
</p>
<p>
    More information will follow!
</p> 
<h2>List of Open Source technologies:</h2>

<p>Below you can find the name, category and GitHub link to the technology.</p>

<div id="technologies">
  <ul class="project-list">
    <% @technologies.each do |technology| %>
      <li>
        <div class="project-card">
              
          <div>
            <h3><%= technology.name %></h3>
            <p><strong>GitHub:</strong> <a href="https://github.com/<%= technology.name %>">Link</a></p>
            <p><strong>Votes:</strong> <%= technology.net_votes %></p>
          </div>
          <div>
            <%= button_to "Vote", votes_path(technology_id: technology.id, vote: 1), method: :post, class: "vote-up" %>
          </div>
        </div>
        
      </li>
    <% end %>
  </ul>
</div>
